.offlineClass-about {
  max-width: 100%;
  width: 600px;
  margin: 50px auto;
  font-size: 30px;
  color: #19345e;
}

.img-offlineClass {
  justify-content: center;
  margin: 50px auto;
  height: 456px;
  width: auto;
  max-width: 100%;
}
.section2-offlineClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section2-offlineClass-content {
  align-self: center;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin-top: 100px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.card-product-offlineClass {
  align-items: center;
  margin: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-item {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.offlineClass-header {
  position: absolute;
  width: 100%;
  height: 856px;
  left: 0;
  top: -20px;
}

.div-reward {
  justify-content: center;
  display: flex;
  max-width: 500px;
  height: 90px;
  padding: 60px;
  margin: 0 auto;
}

.reward-text {
  text-align: justify;
}

.reward-description {
  margin-top: 10px;
}

.dot {
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot p {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.section-timeline {
  box-shadow: 2px 1px 10px 0px grey;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  padding-bottom: 50px;
  border-radius: 10px;
  margin-bottom: 60px;
}

.div-timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.text-timeline {
  margin-left: 20px;
  justify-content: center;
  text-align: left;
  font-size: 17.5px;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}

.section-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.section-video h1 {
  margin-bottom: 20px; /* Jarak ke bawah */
}

.video-offlineClass {
  padding: 10px 50px;
  margin-bottom: 50px;
  height: 400px;
  max-width: 100%;
}

.video-offlineClass-tag {
  text-align: left;
  margin-left: 100px;
  margin-top: 150px;
  color: black;
}

.video-offlineClass-tag > p {
  font-size: 15px;
  color: black;
}

.video-offlineClass-tag-title {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.carousel-content {
  width: 100%;
  height: auto;
  text-align: center;
  background: #364d79;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-description {
  color: #fff;
  font-size: 18px;
}
