.footer-section{
    background-color: #263b55;
    padding: 80px 0 10px 0;
}
.footer-desc{
    color: white;
}
.footer-menu.col-lg-4{
    color: white;
    margin: 10px 0;
}
ul.footer-list-menu{
    margin: 25px 0;
    list-style-type: none;
    padding: 0;
}
ul.footer-list-menu li{
    margin: 15px 0;
}
ul.footer-list-menu li a{
    text-decoration: none;
    color: white;
    transition: font-size 0.3s ease;
}
ul.footer-list-menu li a:hover{
    font-weight: bold;
    font-size: 1.1em;
}
.text-white.fs-5.mx-2{
    margin: 15px 0 10px 0;
}
.text-white.fs-5.mx-2:hover{
    transform: scale(1.5); 
}
.col-lg-6{
    display: flex;
    flex-direction: row;
}
.col-lg-2{
    text-align: center;
}


@media (max-width: 992px) {
    .footer-desc{
        text-align: center;
        font-size: 12px;
    }
    .col-lg-6{
        justify-content: space-around;
        text-align: center;
    }
    
}

